﻿.footer {
  overflow: hidden;
  *zoom: 1;
  /*padding: 0 18px 10px;*/
  border: 1px solid #dbdbdb;
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #ececec 50%, #d9d9d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#ececec), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
}

footer {
  padding: 0 18px;
  /*margin-top: 80px;*/
  _margin-top: -30px;
  overflow: hidden;
  *zoom: 1;
}

  footer .col5 {
    float: left;
    margin-top: 10px;
    width: 19.79999999%;
    _width: 18.69999%;
    _padding-left: 10px;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #fff;
  }

    footer .col5:last-child {
      width: 19.89999999%;
    }

    footer .col5:first-child {
      border-left: 0;
    }


/**
 content 
 */
.honor {
  _overflow: hidden;
  _zoom: 1;
  _padding: 10px 28px;
}

  .honor article {
    _width: 49%;
  }

    .honor article h3 {
      _font-size: 14px;
      _color: #053f92;
      _border-bottom: 1px solid #ebebeb;
    }

/*********/

* a:active, * a:focus {
  outline: none;
}


.lt-ie9 body {
  background: #e8e8e8 url(../img/bg.png) center repeat-y;
}

.lt-ie9 .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff url(../img/slide/slide.gif) no-repeat;
  background-position: 0 0;
}

  .lt-ie9 .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .lt-ie9 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff url(../img/slide/slide.gif) no-repeat;
    background-position: -15px 0;
  }

.lt-ie8 .bx-wrapper {
  padding: 0 10px;
}

.lt-ie7 body {
  _background: #e8e8e8 url(../img/bg.gif) center repeat-y;
}

.lt-ie7 .global-nav li {
  _width: 90px;
  _padding-left: 0;
  _padding-right: 0;
}

  .lt-ie7 .global-nav li a:link, .lt-ie7 .global-nav li a:visited {
    _color: #fff;
  }

  .lt-ie7 .global-nav li.active a:link, .lt-ie7 .global-nav li.active a:visited {
    _color: #053f92;
  }

  .lt-ie7 .global-nav li.active {
    _background: url(../img/btns_bg.png) right -352px repeat-x;
  }

.lt-ie7 .wrapper .ribbon {
  _overflow: hidden;
  _zoom: 1;
}

.lt-ie7 .footer {
  _background: url(../img/footer_bg.png) repeat-x;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.lt-ie7 .chromeframe {
  _margin: 0.2em 0;
  /*background: #ccc;*/
  _text-align: center;
  _padding: 0.2em 0;
  _color: #fff;
  _background: #5db219;
}

  .lt-ie7 .chromeframe a {
    _color: #fee103;
  }


.lt-ie7 .bx-wrapper .bx-viewport {
  _margin-bottom: -5px;
}

.lt-ie7 .bx-wrapper .bx-pager {
  _text-align: right;
  _font-size: 0;
  _text-indent: -333px;
  /*_padding-top: 20px;*/
  _width: 100%;
  _overflow: hidden;
  _color: #666;
}


.lt-ie9 .honor .bx-wrapper img {
  margin: 0;
  padding: 0;
}

.lt-ie7 .honor .bx-wrapper img {
  _margin-right: 10px;
}

  .lt-ie7 .honor .bx-wrapper img.slide-last {
    _margin-right: 0;
  }
