/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

  /*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /*a,
  a:visited {
    text-decoration: underline;
  }*/

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links for images, or javascript/internal links
     */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #999;
}

/*a:hover {
  text-decoration: underline;
}*/



html, body, div, span, p, a, li, td, h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  border: 1px solid #979797;
  min-height: 28px;
}

html {
  margin: 0 auto;
  height: 100%;
}

body {
  min-width: 1000px;
  /*height: 100%;*/
  background: #e8e8e8;
}

.ribbon {
  background: #023f92;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
  /*height: auto;*/
  background: #fff;
  box-shadow: 0 0 10px 5px #cacaca;
}

  .wrapper .ribbon {
    height: 2px;
  }

.logo {
  width: 304px;
  height: 88px;
  background: url(../img/logo.png) no-repeat;
}

.phone, .content h1, .content h3 {
  color: #023f92;
}

.header {
  height: 88px;
  overflow: hidden;
  *zoom: 1;
}

  .header .logo {
    margin-left: 14px;
    float: left;
  }

  .header .header-nav {
    /*margin-right: 14px;*/
    margin-top: 24px;
    text-align: right;
    float: right;
  }

    .header .header-nav .slogan {
      width: 312px;
      height: 34px;
      float: right;
      clear: both;
      background: url(../img/slogan.png) no-repeat right;
    }

    .header .header-nav .tel {
      /*width: 287px;*/
      width: 375px;
      height: 31px;
      float: right;
      clear: both;
      background: url(../img/tel.png) no-repeat;
    }

    .header .header-nav a {
      line-height: 31px;
      padding-right: 10px;
    }
/*.header-nav nav {
  font-size: 12px;
  line-height: 26px;
  height: 26px;
}

.header-nav, .header-nav nav, .header-nav a {
  color: #8c8c8c;
}

  .header-nav a {
    margin: 0 5px;
  }

    .header-nav a:last-child {
      margin-right: 0;
    }

  .header-nav label, .header-nav .phone {
    font-size: 24px;
    line-height: 48px;
    height: 48px;
  }*/

.global-nav {
  padding: 0 2px;
  position: relative;
}

  .global-nav ul {
    padding: 0;
    margin: 9px 0;
    border-radius: 3px;
    height: 38px;
    line-height: 38px;
    background: #114a98;
  }

  .global-nav li {
    display: inline-block;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 7px 7px 5px;
    height: 26px;
    line-height: 26px;
    border-right: 1px solid #fff;
  }

    .global-nav li.active, .global-nav li:hover {
      background: #fbfcfe; /* Old browsers */
      background: -moz-linear-gradient(top, #fbfcfe 1%, #dddce2 50%, #b9babc 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fbfcfe), color-stop(50%,#dddce2), color-stop(100%,#b9babc)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fbfcfe 1%,#dddce2 50%,#b9babc 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fbfcfe 1%,#dddce2 50%,#b9babc 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #fbfcfe 1%,#dddce2 50%,#b9babc 100%); /* IE10+ */
      background: linear-gradient(to bottom, #fbfcfe 1%,#dddce2 50%,#b9babc 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfe', endColorstr='#b9babc',GradientType=0 ); /* IE6-9 */
      box-shadow: 1px 1px 3px #666;
    }

  .global-nav li a {
    display: block;
    width: auto;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 9px;
    color: #fff;
  }

  .global-nav li.active a, .global-nav li.active span, .global-nav li:hover a, .global-nav li:hover a:hover, .global-nav li a:hover,
  .global-nav li:hover span {
    color: #1b68b3;
  }

  .global-nav li span {
    display: block;
    height: 1em;
    line-height: 1em;
    font-size: 10px;
    color: #fff;
  }

  /*.global-nav li.active:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 128px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-left: 12px solid #f0f0f0;
  }*/

  .global-nav li.active a:after, .global-nav li:hover a:after {
    content: '';
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -2.5px;
    width: 0;
    height: 0;
    color: #a9aaac;
    border: 5px solid transparent;
    border-top: 5px solid #a9aaac;
  }

.carousel {
  overflow: hidden;
  height: 280px;
  padding-bottom: 30px;
  width: 980px;
  position:relative;    
}

  .carousel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*width: 3500px;*/
    position:relative;
    width:980px;
    height:280px;
    overflow:hidden;
  }

    .carousel ul li {
      display: inline-block;
      float: left;
      padding-left: 15px;
      position:absolute;
      top:0;
      left:0;
      z-index:1;
      width:980px;
      height:280px;
    }

/*.mandarin {
  background: url(../img/mandarin.png) no-repeat;
}

.shanghainese {
  background: url(../img/shanghainese.png) no-repeat;
}

.zhouyi {
  background: url(../img/zhouyi.png) no-repeat;
}

.kantonese {
  background: url(../img/kantonese.png) no-repeat;
}

.ancientchinese {
  background: url(../img/ancientchinese.png) no-repeat;
}*/


.separator-dot {
  width: 44%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dashed #8c8c8c;
}

.separator-solid {
  width: 80%;
  height: 0;
  border-bottom: 1px solid #bfbfbf;
}

.col2 {
  width: 50%;
}

.content {
  padding: 0 32px;
  overflow: hidden;
}

.col5 {
  width: 20%;
}



.footer {
  overflow: hidden;
  *zoom: 1;
  height: 150px;
  width: 100%;
  display: -moz-box; /* Firefox */
  display: -webkit-box; /* Safari and Chrome */
  display: -ms-flexbox; /* Internet Explorer 10 */
  display: box;
  flex-flow: column wrap;
  /*padding: 0 18px 10px;*/
  border: 1px solid #dbdbdb;
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #ececec 50%, #d9d9d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#ececec), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%,#ececec 50%,#d9d9d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
}

footer {
  padding: 0 18px;
  margin-top: 30px;
  overflow: hidden;
  *zoom: 1;
}

  footer .col5 {
    margin: 18px 0;
    -moz-box-flex: 1.0; /* Firefox */
    -webkit-box-flex: 1.0; /* Safari and Chrome */
    -ms-flex: 1.0; /* Internet Explorer 10 */
    box-flex: 1.0;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #fff;
  }

    footer .col5 > * {
      margin: 0 18px;
    }

    footer .col5:first-child {
      border-left: 0;
    }

    footer .col5:last-child {
      border-right: 0;
      width: 245px;
    }

  footer, footer a, .footer a {
    font-size: 12px;
    color: #666;
  }

    footer a {
      display: block;
      line-height: 1.8em;
    }

    footer h3 {
      font-size: 14px;
      color: #023f92;
    }

.copyright {
  margin-top: 10px;
  margin: 10px 18px;
  font-size: 12px;
  line-height: 2.2em;
  text-align: right;
  color: #666;
  border-top: 1px solid #b8b8b8;
}



.icon {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.addr {
  background: url(../img/icon/addr.png) no-repeat;
}

.email {
  background: url(../img/icon/email.png) no-repeat;
}

.tel {
  background: url(../img/icon/tel.png) no-repeat;
}

.tel-dark {
  background: url(../img/icon/tel-dark.png) no-repeat;
}

.addr-dark {
  background: url(../img/icon/addr-dark.png) no-repeat;
}

.info-dark {
  background: url(../img/icon/info-dark.png) no-repeat;
}

.email-dark {
  background: url(../img/icon/email-dark.png) no-repeat;
}

.save-dark {
  background: url(../img/icon/save-dark.png) no-repeat;
}

.play-dark {
  background: url(../img/icon/play-dark.png) no-repeat;
}

.page-dark {
  background: url(../img/icon/page-dark.png) no-repeat;
}

.edit-dark {
  background: url(../img/icon/edit-dark.png) no-repeat;
}

.translucent {
  -khtml-opacity: .5;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: .5;
  filter: alpha(opacity=50);
}


.ul-sina-wb {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 12px;
  height:24px;
  line-height:24px;
  color: #fff;
}

/*.ul-sina-wb .WB_btnA:active {
    background-position: 0 -112px;
  }

  .ul-sina-wb .WB_btnA:hover, .ul-sina-wb .WB_btnA_loading {
    background-position: 0 -56px;
    text-decoration: none!important;
  }

  .ul-sina-wb .weiboShow a,
  .ul-sina-wb .weiboShow .WB_linkA a,
  .ul-sina-wb .weiboShow .WB_linkA,
  .ul-sina-wb .weiboShow .WB_linkB a,
  .ul-sina-wb .weiboShow .WB_linkB {
    color: #464646;
  }

    .ul-sina-wb .weiboShow a,
    .ul-sina-wb .weiboShow .WB_linkA a,
    .ul-sina-wb .weiboShow .WB_linkA {
      color: #0078b6;
    }

  .ul-sina-wb .weiboShow * {
    border-color: #d2d2d2;
  }

  .ul-sina-wb .WB_btnA {
    text-align: center;
    padding-left: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
  }

    .ul-sina-wb .WB_btnA, .ul-sina-wb .WB_btnA span, .ul-sina-wb .WB_btnA_loading {
      display: inline-block;
      background: url(../img/btns_bg.png) no-repeat;
      vertical-align: middle;
      color: #FFF;
      text-decoration: none;
      height: 29px;
      line-height: 28px;
      min-width: 35px;
      cursor: pointer;
      overflow: hidden;
    }

  .ul-sina-wb .WB_btnA, .ul-sina-wb .WB_btnB, .ul-sina-wb .WB_btnC {
    font-size: 12px;
  }

    .ul-sina-wb .WB_btnA:active span {
      background-position: 100% -141px;
    }

    .ul-sina-wb .WB_btnA:hover span, .ul-sina-wb .WB_btnA_loading span {
      background-position: 100% -84px;
    }

    .ul-sina-wb .WB_btnA span {
      background-position: 100% -28px;
      margin-top:-1px;
      padding: 0 10px 0 6px;
    }

    .ul-sina-wb .WB_btnA .WB_btnicn_add, .ul-sina-wb .WB_btnC .WB_btnicn_ok, .ul-sina-wb .WB_btnC .WB_btnicn_each {
      display: inline-block;
      width: 8px;
      height: 8px;
      overflow: hidden;
      background: url(../img/icon_follow.png) no-repeat;
      margin: 10px 3px 0 0;
    }

    .ul-sina-wb .WB_btnA em {
      float: left;
    }*/
.btnFollow,.btnFollow:visited {
  display: inline-block;
  margin-right:10px;
  width: 45px;
  height: 24px;
  padding-left: 18px;
  overflow: hidden;
  vertical-align:middle;
  background: url(../img/btns_bg.png) no-repeat;
  background-position: -137px 0;
  color: #FFFFFF;
  line-height: 24px;
}


.slide-honor img {
  float: left;
  margin-right: 10px;
}

.slide-honor p {
  font-size: 12px;
  overflow: hidden;
  *zoom: 1;
  color: #666;
}

/*.icon-nav-arrow {
  position:absolute;
  width:10px;
  height:10px;
  left:50%;
  margin-left:-5px;
  top:39px;
  z-index:9;
  background:red;
}*/